extends layout

block content
  -if(overzicht)
    div#scoreoverzicht
     h1 Scoreboard
     div#scoreboardploeg1
      img(id="vlagploeg1" src="images/flags/" +overzicht.land1 + ".png")
      p#naamploeg1= overzicht.land1
     div#scoreboard
      p#scoreploeg1(class="points")= overzicht.land1score
      p -
      p#scoreploeg2(class="points")= overzicht.land2score
     div#scoreboardploeg2 
      img( id="vlagploeg2" src="images/flags/" + overzicht.land2 + ".png")
      p#naamploeg2= overzicht.land2
    div#details
     div#detailsploeg1
      h2= 'Details ' + overzicht.land1 
      p(class="titels") fouls
      p(id="foulsploeg1" class="ploegdetails")= overzicht.land1fouls
      p(class="titels") shots
      p(id="shotsploeg1" class="ploegdetails")= overzicht.land1shots
      p(class="titels") shotsongoal
      p(id="shotsongoalploeg1" class="ploegdetails")= overzicht.land1shotsongoal
      p(class="titels") pass %
      p(id="passpercentploeg1" class="ploegdetails")= overzicht.land1pass + " %"
      p(class="titels") posession %
      p(id="posessionploeg1" class="ploegdetails")= overzicht.land1posession + " %"
      p(class="titels") yellow cards
      p(id="yellowcardploeg1" class="ploegdetails")= overzicht.land1yellow
      p(class="titels") red cards
      p(id="redcardploeg1" class="ploegdetails")= overzicht.land1red
     div#detailsploeg2
      h2= 'Details ' + overzicht.land2
      p(class="titels") fouls
      p(id="foulsploeg2" class="ploegdetails")= overzicht.land2fouls
      p(class="titels") shots
      p(id="shotsploeg2" class="ploegdetails")= overzicht.land2shots
      p(class="titels") shotsongoal
      p(id="shotsongoalploeg2" class="ploegdetails")= overzicht.land2shotsongoal
      p(class="titels") pass %
      p(id="passpercentploeg2" class="ploegdetails")= overzicht.land2pass + " %"
      p(class="titels") posession %
      p(id="posessionploeg2" class="ploegdetails")= overzicht.land2posession + " %"
      p(class="titels") yellow cards
      p(id="yellowcardploeg2" class="ploegdetails")= overzicht.land2yellow
      p(class="titels") red cards
      p(id="redcardploeg2" class="ploegdetails")= overzicht.land2red
    div#updatesdiv
     h1 Recent updates
     ul#updateslist
      each update, i in updates
       li
        img(src="images/icons/" + update.type + ".png")
        p= update.speler
        p= update.min + "''"
     
  -else
   p(class="error") Seomthing appears to be broken, sorry for the inconvienience


  script.
    var client = new Faye.Client('/faye',{
     timeout: 200
    });
    client.subscribe('/gegevens', function(message) {
     $('#naamploeg1').html(message.ploeg1)
     $('#vlagploeg1').attr("src","images/flags/" + message.ploeg1 + ".png")
     $('#scoreploeg1').html(message.scoreploeg1)
     $('#foulsploeg1').html(message.foulsploeg1)
     $('#shotsploeg1').html(message.shotsploeg1)
     $('#shotsongoalploeg1').html(message.shotsongoalploeg1)
     $('#passpercentploeg1').html(message.passpercentploeg1 + " %")
     $('#posessionploeg1').html(message.posessionploeg1 + " %")
     $('#yellowcardploeg1').html(message.yellowcardploeg1)
     $('#redcardploeg1').html(message.redcardploeg1)
     $('#naamploeg2').html(message.ploeg2)
     $('#vlagploeg2').attr("src","images/flags/" + message.ploeg2 + ".png")
     $('#scoreploeg2').html(message.scoreploeg2)
     $('#foulsploeg2').html(message.foulsploeg2)
     $('#shotsploeg2').html(message.shotsploeg2)
     $('#shotsongoalploeg2').html(message.shotsongoalploeg2)
     $('#passpercentploeg2').html(message.passpercentploeg2 + " %")
     $('#posessionploeg2').html(message.posessionploeg2 + " %")
     $('#yellowcardploeg2').html(message.yellowcardploeg2)
     $('#redcardploeg2').html(message.redcardploeg2)
     if(message.emptyall == "yes")
     {
        $("li").addClass("remove");
     }
    });
    client.subscribe('/updates', function(matchupdates) {
     $('#updateslist').append("<li class='add'><img src='/images/icons/" + matchupdates.type + ".png'/><p>" + matchupdates.speler + " </p> <p> " + matchupdates.min + "'' </p></li>")
    });